header{
    background: rgb(91, 169, 233);
    position: center;
    width:100%;
    box-shadow:  5px 5px 10px;
}
h1{
    text-align: center;
}
li{
    display: inline-block;
    font-size: 30px;
    margin-left:10%;
}
